.country{
    border: 2px solid greenyellow;
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
}

.country-visited{
    background-color:cadetblue;
}

.visited-flags-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-wrap: wrap;
    width: 100px;
    margin-right: 8px;
    gap: 6px
}